<!--We have defined container class in scss.fxlayout is availble due to flex module we installed.
so column is part of that.dont confuse it wiwth bootstrap.10px gap between columns.-->
<div class="container" 
    fxLayout="column"
    fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <!--mat-list is angular material list component.Applying fxFlex will treat this list as single unit -->
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px">
            <!--1.We have created array of Dish objects.So here we have used *ngFor 
            which is structural directive to iterate over array elements instead of writing all elememts
        Also matList Avatar is like img src from material ui used for list item img and matLine created linewise view.
        {{}} this is called as interpolation
    2.After updating to mat-grid-tile it is type of grid.and we have used build in angular pipe to show name in uppercase-->
            <mat-grid-tile *ngFor="let dish of dishes">
                <img height="200px" src={{dish.image}} alt={{dish.name}}>
                <mat-grid-tile-footer>
                    <h1 matLine>{{dish.name | uppercase}} </h1>
                </mat-grid-tile-footer>
                
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxFlex *ngIf="selectedDish">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{selectedDish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
          <mat-card-content>
            <p>{{selectedDish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
</div>
