<!--We have defined container class in scss.fxlayout is availble due to flex module we installed.
so column is part of that.dont confuse it wiwth bootstrap.10px gap between columns.-->
<div class="container" 
    fxLayout="column"
    fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>
    <!--mat-list is angular material list component.Applying fxFlex will treat this list as single unit -->
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px">
            <!--1.We have created array of Dish objects.So here we have used *ngFor 
            which is structural directive to iterate over array elements instead of writing all elememts
        Also matList Avatar is like img src from material ui used for list item img and matLine created linewise view.
        {{}} this is called as interpolation
    2.After updating to mat-grid-tile it is type of grid.and we have used build in angular pipe to show name in uppercase
    3.This (click) is example of event data binding.when we click on tile of specific dish then event will be trigeered
and onSelect method will be callled and dish which is clicked will be provided as parameter
    4.Instead of click and then invokimng method we now will redirect to dishdetail component on click..
    passing id as route paramter-->
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail',dish.id]">
                <img height="200px" src={{dish.image}} alt={{dish.name}}>
                <mat-grid-tile-footer>
                    <h1 matLine>{{dish.name | uppercase}} </h1>
                </mat-grid-tile-footer>
                
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!--This is example of property attribute type of data binding-->
    
    
</div>
