<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <div fxFlex>
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{baseUrl+dish.image}}" alt={{dish.name}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail',prev]"><fa-icon [icon]="faChevronLeft" size="lg"></fa-icon></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail',next]"><fa-icon [icon]="faChevronRight" size="lg"></fa-icon></button>

          </mat-card-actions>
        </mat-card>
      </div>
  </div>
  <div [hidden]="dish || errMsg"> 
    <mat-spinner></mat-spinner><h4>Loading....Please Wait</h4>

</div>
<div fxFlex *ngIf="errMsg" >
  <h2>Error</h2>
  <h4>{{errMsg}}</h4>
</div>

  <div fxFlex="40" *ngIf="dish">
    
    <mat-list >
      <h3>Comments</h3>
        <mat-list-item *ngFor="let comment of dish.comments">
            <div matLine>{{comment.comment}}</div>
            <div matLine>{{comment.rating + " stars"}}</div>
            <div matLine>{{"-- "+comment.author + " "}}{{comment.date | date}}</div>  
        </mat-list-item>
    </mat-list>
    <div [hidden]="dish"> 
      <mat-spinner></mat-spinner><h4>Loading....Please Wait</h4>

  </div>
  <div class="form-size">
    <h3>Send Us Your Comment</h3>
    <p *ngIf="commentForm.status === 'VALID'">{{ commentForm.value.comment | json }} </p>
    <p *ngIf="commentForm.status === 'VALID'">{{ commentForm.value.rating + " stars" | json }} </p>
    <p *ngIf="commentForm.status === 'VALID'">{{ "-- "+ commentForm.value.author | json }}</p>
    <form novalidate  [formGroup]="commentForm" (ngSubmit)="onSubmit(dish.id)">
      <!--formGroup means tie to reactive form model in component-->
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors['author']">{{formErrors['author']}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName="rating" min="1" max="5" step="1" value="1" thumbLabel tickInterval="1"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width"><textarea matInput formControlName="comment" placeholder="Your Comment" rows=12>

        </textarea></mat-form-field>
      </p>
      <button [disabled]= "commentForm.invalid" type="submit" mat-button class="background-primary text-floral-white" >Submit</button>

      
    </form>
  </div>
  </div>

</div>
